*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/C1208GS4G2eProject/nbproject/private/
/C1208GS4G2eProject/build/
/C1208GS4G2eProject/dist/
/SourceG2/nbproject/private/
/SourceG2/build/
/SourceG2/dist/
/TestXMl/nbproject/private/
/AutoGenEXcel/nbproject/private/
/AutoGenEXcel/build/