<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="Laborator.co" />
	
	<title>Neon | Layouts</title>

	<link rel="stylesheet" href="../../../neon-x/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"  id="style-resource-1">
	<link rel="stylesheet" href="../../../neon-x/assets/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
	<link rel="stylesheet" href="../../../neon-x/assets/css/font-icons/entypo/css/animation.css"  id="style-resource-3">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-4">
	<link rel="stylesheet" href="../../../neon-x/assets/css/neon.css"  id="style-resource-5">
	<link rel="stylesheet" href="../../../neon-x/assets/css/custom.css"  id="style-resource-6">

	<script src="../../../neon-x/assets/js/jquery-1.10.2.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	
	<!-- TS1387507156: Neon - Responsive Admin Template created by Laborator -->
</head>
<body class="page-body">

<div class="page-container">	
	
<div class="sidebar-menu">
	
		<header class="logo-env">
		
		<!-- logo -->
		<div class="logo">
			<a href="../../../neon-x/dashboard/main/index.html">
				<img src="../../../neon-x/assets/images/logo.png" alt="" />
			</a>
		</div>
		
				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
			<a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
				<i class="entypo-menu"></i>
			</a>
		</div>
						
		
		<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
		<div class="sidebar-mobile-menu visible-xs">
			<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
				<i class="entypo-menu"></i>
			</a>
		</div>
		
	</header>
		
	
			<ul id="main-menu" class="">
										<li id="search">
					<form method="get" action="#">
						<input type="text" name="q" class="search-input" placeholder="Search something..." />
						<button type="submit"><i class="entypo-search"></i></button>
					</form>
				</li>
					<li>
		<a href="../../../neon-x/dashboard/main/index.html"><i class="entypo-gauge"></i><span>Dashboard</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/dashboard/main/index.html"><span>Dashboard 1</span></a>
		</li>

		<li>
			<a href="../../../neon-x/dashboard/main-2/index.html"><span>Dashboard 2</span></a>
		</li>

		</ul>

</li>

	<li class="active opened active">
		<a href="../../../neon-x/layouts/layout-api/index.html"><i class="entypo-layout"></i><span>Layouts</span></a>
		

		<ul>
		<li class="active">
			<a href="../../../neon-x/layouts/layout-api/index.html"><span>Layout API</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/collapsed-sidebar/index.html"><span>Collapsed Sidebar</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/fixed-sidebar/index.html"><span>Fixed Sidebar</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/chat-open/index.html"><span>Chat Open</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/horizontal-menu-boxed/index.html"><span>Horizontal Menu Boxed</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/horizontal-menu-fluid/index.html"><span>Horizontal Menu Fluid</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/mixed-menus/index.html"><span>Mixed Menus</span></a>
		</li>

		<li>
			<a href="../../../neon-x/layouts/page-transition-fade/index.html"><span>Page Enter Transitions</span></a>
		

			<ul>
			<li>
				<a href="../../../neon-x/layouts/page-transition-fade/index.html"><span>Fade Scale</span></a>
		</li>

			<li>
				<a href="../../../neon-x/layouts/page-transition-left-in/index.html"><span>Left In</span></a>
		</li>

			<li>
				<a href="../../../neon-x/layouts/page-transition-right-in/index.html"><span>Right In</span></a>
		</li>

			<li>
				<a href="../../../neon-x/layouts/page-transition-fade-only/index.html"><span>Fade Only</span></a>
		</li>

			</ul>

</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/ui/panels/index.html"><i class="entypo-newspaper"></i><span>UI Elements</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/ui/panels/index.html"><span>Panels</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/tiles/index.html"><span>Tiles</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/buttons/index.html"><span>Buttons</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/typography/index.html"><span>Typography</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/tabs-accordions/index.html"><span>Tabs &amp; Accordions</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/tooltips-popovers/index.html"><span>Tooltips &amp; Popovers</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/navbars/index.html"><span>Navbars</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/breadcrumbs/index.html"><span>Breadcrumbs</span></a>
		</li>

		<li>
			<a href="../../ui/badges-label/s.html"><span>Badges &amp; Labels</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/progress-bars/index.html"><span>Progress Bars</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/modals/index.html"><span>Modals</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/blockquotes/index.html"><span>Blockquotes</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/alerts/index.html"><span>Alerts</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/pagination/index.html"><span>Pagination</span></a>
		</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/mailbox/main/index.html"><i class="entypo-mail"></i><span>Mailbox</span><span class="badge badge-secondary">8</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/mailbox/main/index.html"><i class="entypo-inbox"></i><span>Inbox</span></a>
		</li>

		<li>
			<a href="../../../neon-x/mailbox/compose/index.html"><i class="entypo-pencil"></i><span>Compose Message</span></a>
		</li>

		<li>
			<a href="../../../neon-x/mailbox/message/index.html"><i class="entypo-attach"></i><span>View Message</span></a>
		</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/forms/main/index.html"><i class="entypo-doc-text"></i><span>Forms</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/forms/main/index.html"><span>Basic Elements</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/advanced/index.html"><span>Advanced Plugins</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/wizard/index.html"><span>Form Wizard</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/validation/index.html"><span>Data Validation</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/masks/index.html"><span>Input Masks</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/sliders/index.html"><span>Sliders</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/file-upload/index.html"><span>File Upload</span></a>
		</li>

		<li>
			<a href="../../../neon-x/forms/wysiwyg/index.html"><span>Editors</span></a>
		</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/tables/main/index.html"><i class="entypo-window"></i><span>Tables</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/tables/main/index.html"><span>Basic Tables</span></a>
		</li>

		<li>
			<a href="../../../neon-x/tables/datatable/index.html"><span>Data Tables</span></a>
		</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/extra/icons/index.html"><i class="entypo-bag"></i><span>Extra</span><span class="badge badge-info badge-roundless">New Items</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/extra/icons/index.html"><span>Icons</span><span class="badge badge-success">3</span></a>
		

			<ul>
			<li>
				<a href="../../../neon-x/extra/icons-fontawesome/index.html"><span>Font Awesome</span></a>
		</li>

			<li>
				<a href="../../../neon-x/extra/icons-entypo/index.html"><span>Entypo</span></a>
		</li>

			<li>
				<a href="../../../neon-x/extra/icons-glyphicons/index.html"><span>Glyph Icons</span></a>
		</li>

			</ul>

</li>

		<li>
			<a href="../../../neon-x/extra/portlets/index.html"><span>Portlets</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/google-maps/index.html"><span>Maps</span></a>
		

			<ul>
			<li>
				<a href="../../../neon-x/extra/google-maps/index.html"><span>Google Maps</span></a>
		</li>

			<li>
				<a href="../../../neon-x/extra/vector-maps/index.html"><span>Vector Maps</span></a>
		</li>

			</ul>

</li>

		<li>
			<a href="../../../neon-x/extra/chat-api/index.html"><span>Chat API</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/calendar/index.html"><span>Calendar</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/lockscreen/index.html"><span>Lockscreen</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/login/index.html"><span>Login</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/invoice/index.html"><span>Invoice</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/404/index.html"><span>404 Page</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/blank-page/index.html"><span>Blank Page</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/tocify/index.html"><span>Tocify</span></a>
		</li>

		<li>
			<a href="../../../neon-x/ui/notifications/index.html"><span>Notifications</span></a>
		</li>

		<li>
			<a href="../../../neon-x/extra/scrollbox/index.html"><span>Scrollbox</span></a>
		</li>

		</ul>

</li>

	<li>
		<a href="../../../neon-x/extra/charts/index.html"><i class="entypo-chart-bar"></i><span>Charts</span></a>
		</li>

	<li>
		<a href="../../../neon-x/index.html#"><i class="entypo-flow-tree"></i><span>Menu Levels</span></a>
		

		<ul>
		<li>
			<a href="../../../neon-x/index.html#"><i class="entypo-flow-line"></i><span>Menu Level 1.1</span></a>
		</li>

		<li>
			<a href="../../../neon-x/index.html#"><i class="entypo-flow-line"></i><span>Menu Level 1.2</span></a>
		</li>

		<li>
			<a href="../../../neon-x/index.html#"><i class="entypo-flow-line"></i><span>Menu Level 1.3</span></a>
		

			<ul>
			<li>
				<a href="../../../neon-x/index.html#"><i class="entypo-flow-parallel"></i><span>Menu Level 2.1</span></a>
		</li>

			<li>
				<a href="../../../neon-x/index.html#"><i class="entypo-flow-parallel"></i><span>Menu Level 2.2</span></a>
		

				<ul>
				<li>
					<a href="../../../neon-x/index.html#"><i class="entypo-flow-cascade"></i><span>Menu Level 3.1</span></a>
		

					<ul>
					<li>
						<a href="../../../neon-x/index.html#"><i class="entypo-flow-branch"></i><span>Menu Level 4.1</span></a>
		</li>

					</ul>

</li>

				<li>
					<a href="../../../neon-x/index.html#"><i class="entypo-flow-cascade"></i><span>Menu Level 3.2</span></a>
		</li>

				</ul>

</li>

			<li>
				<a href="../../../neon-x/index.html#"><i class="entypo-flow-parallel"></i><span>Menu Level 2.3</span></a>
		</li>

			</ul>

</li>

		</ul>

</li>

		</ul>
			
		
</div>	
	<div class="main-content">
		
<div class="row">
	
	<!-- Profile Info and Notifications -->
	<div class="col-md-6 col-sm-8 clearfix">
		
		<ul class="user-info pull-left pull-none-xsm">
		
			<!-- Profile Info -->
			<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
				
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="../../../neon-x/assets/images/thumb-1.png" alt="" class="img-circle" />
					Art Ramadani
				</a>
				
				<ul class="dropdown-menu">
					
					<!-- Reverse Caret -->
					<li class="caret"></li>
					
					<!-- Profile sub-links -->
					<li>
						<a href="#">
							<i class="entypo-user"></i>
							Edit Profile
						</a>
					</li>
					
					<li>
						<a href="../../../neon-x/mailbox/main/index.html">
							<i class="entypo-mail"></i>
							Inbox
						</a>
					</li>
					
					<li>
						<a href="../../../neon-x/extra/calendar/index.html">
							<i class="entypo-calendar"></i>
							Calendar
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="entypo-clipboard"></i>
							Tasks
						</a>
					</li>
				</ul>
			</li>
		
		</ul>
		
		<ul class="user-info pull-left pull-right-xs pull-none-xsm">
			
			<!-- Raw Notifications -->
			<li class="notifications dropdown">
				
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-attention"></i>
					<span class="badge badge-info">6</span>
				</a>
				
				<ul class="dropdown-menu">
					<li class="top">
	<p class="small">
		<a href="#" class="pull-right">Mark all Read</a>
		You have <strong>3</strong> new notifications.
	</p>
</li>

<li>
	<ul class="dropdown-menu-list scroller">
		<li class="unread notification-success">
			<a href="#">
				<i class="entypo-user-add pull-right"></i>
				
				<span class="line">
					<strong>New user registered</strong>
				</span>
				
				<span class="line small">
					30 seconds ago
				</span>
			</a>
		</li>
		
		<li class="unread notification-secondary">
			<a href="#">
				<i class="entypo-heart pull-right"></i>
				
				<span class="line">
					<strong>Someone special liked this</strong>
				</span>
				
				<span class="line small">
					2 minutes ago
				</span>
			</a>
		</li>
		
		<li class="notification-primary">
			<a href="#">
				<i class="entypo-user pull-right"></i>
				
				<span class="line">
					<strong>Privacy settings have been changed</strong>
				</span>
				
				<span class="line small">
					3 hours ago
				</span>
			</a>
		</li>
		
		<li class="notification-danger">
			<a href="#">
				<i class="entypo-cancel-circled pull-right"></i>
				
				<span class="line">
					John cancelled the event
				</span>
				
				<span class="line small">
					9 hours ago
				</span>
			</a>
		</li>
		
		<li class="notification-info">
			<a href="#">
				<i class="entypo-info pull-right"></i>
				
				<span class="line">
					The server is status is stable
				</span>
				
				<span class="line small">
					yesterday at 10:30am
				</span>
			</a>
		</li>
		
		<li class="notification-warning">
			<a href="#">
				<i class="entypo-rss pull-right"></i>
				
				<span class="line">
					New comments waiting approval
				</span>
				
				<span class="line small">
					last week
				</span>
			</a>
		</li>
	</ul>
</li>

<li class="external">
	<a href="#">View all notifications</a>
</li>				</ul>
				
			</li>
			
			<!-- Message Notifications -->
			<li class="notifications dropdown">
				
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-mail"></i>
					<span class="badge badge-secondary">10</span>
				</a>
				
				<ul class="dropdown-menu">
					<li>
	<ul class="dropdown-menu-list scroller">
		<li class="active">
			<a href="#">
				<span class="image pull-right">
					<img src="../../../neon-x/assets/images/thumb-1.png" alt="" class="img-circle" />
				</span>
				
				<span class="line">
					<strong>Luc Chartier</strong>
					- yesterday
				</span>
				
				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
			</a>
		</li>
		
		<li class="active">
			<a href="#">
				<span class="image pull-right">
					<img src="../../../neon-x/assets/images/thumb-2.png" alt="" class="img-circle" />
				</span>
				
				<span class="line">
					<strong>Salma Nyberg</strong>
					- 2 days ago
				</span>
				
				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything. 
				</span>
			</a>
		</li>
		
		<li>
			<a href="#">
				<span class="image pull-right">
					<img src="../../../neon-x/assets/images/thumb-3.png" alt="" class="img-circle" />
				</span>
				
				<span class="line">
					Hayden Cartwright
					- a week ago
				</span>
				
				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
			</a>
		</li>
		
		<li>
			<a href="#">
				<span class="image pull-right">
					<img src="../../../neon-x/assets/images/thumb-4.png" alt="" class="img-circle" />
				</span>
				
				<span class="line">
					Sandra Eberhardt
					- 16 days ago
				</span>
				
				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
			</a>
		</li>
	</ul>
</li>

<li class="external">
	<a href="../../../neon-x/mailbox/main/index.html">All Messages</a>
</li>				</ul>
				
			</li>
			
			<!-- Task Notifications -->
			<li class="notifications dropdown">
				
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-list"></i>
					<span class="badge badge-warning">1</span>
				</a>
				
				<ul class="dropdown-menu">
					<li class="top">
	<p>You have 6 pending tasks</p>
</li>

<li>
	<ul class="dropdown-menu-list scroller">
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">Procurement</span>
					<span class="percent">27%</span>
				</span>
			
				<span class="progress">
					<span style="width: 27%;" class="progress-bar progress-bar-success">
						<span class="sr-only">27% Complete</span>
					</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">App Development</span>
					<span class="percent">83%</span>
				</span>
				
				<span class="progress progress-striped">
					<span style="width: 83%;" class="progress-bar progress-bar-danger">
						<span class="sr-only">83% Complete</span>
					</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">HTML Slicing</span>
					<span class="percent">91%</span>
				</span>
				
				<span class="progress">
					<span style="width: 91%;" class="progress-bar progress-bar-success">
						<span class="sr-only">91% Complete</span>
					</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">Database Repair</span>
					<span class="percent">12%</span>
				</span>
				
				<span class="progress progress-striped">
					<span style="width: 12%;" class="progress-bar progress-bar-warning">
						<span class="sr-only">12% Complete</span>
					</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">Backup Create Progress</span>
					<span class="percent">54%</span>
				</span>
				
				<span class="progress progress-striped">
					<span style="width: 54%;" class="progress-bar progress-bar-info">
						<span class="sr-only">54% Complete</span>
					</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="task">
					<span class="desc">Upgrade Progress</span>
					<span class="percent">17%</span>
				</span>
				
				<span class="progress progress-striped">
					<span style="width: 17%;" class="progress-bar progress-bar-important">
						<span class="sr-only">17% Complete</span>
					</span>
				</span>
			</a>
		</li>
	</ul>
</li>

<li class="external">
	<a href="#">See all tasks</a>
</li>				</ul>
				
			</li>
		
		</ul>
	
	</div>
	
	
	<!-- Raw Links -->
	<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		
		<ul class="list-inline links-list pull-right">
			<li>
				<a href="#">Live Site</a>
			</li>
			
			<li class="sep"></li>
			
			<li>
				<a href="#" data-toggle="chat" data-animate="1" data-collapse-sidebar="1">
					<i class="entypo-chat"></i>
					Chat
					
					<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
				</a>
			</li>
			
			<li class="sep"></li>
			
			<li>
				<a href="../../../neon-x/extra/login/index.html">
					Log Out <i class="entypo-logout right"></i>
				</a>
			</li>
		</ul>
		
	</div>
	
</div>

<hr />
			<ol class="breadcrumb bc-3">
						<li>
				<a href="../../../neon-x/dashboard/main/index.html"><i class="entypo-home"></i>Home</a>
			</li>
					<li>
			
							<a href="../../../neon-x/layouts/layout-api/index.html">Layouts</a>
					</li>
				<li class="active">
			
							<strong>Layout API</strong>
					</li>
					</ol>
			
<div class="jumbotron">
	<h1>Layout API</h1>
	
	<p>
		Neon Theme comes with pre-defined functions to handle layout behaviors. You have tens of options to make your theme layout look differently. 
		In this page, you are going to see how you can show, hide, remove or add layout elements. In order to customize the layer JS file <code>neon-api.js</code> is required to load.
	</p>
	
	<p>
		<br />
		<a class="btn btn-primary btn-lg" href="#api" role="button">Go to API Functions</a>
	</p>
</div>


<div class="row">
	
	<div class="col-md-6">
		
		<h3>Sidebar Collapsing</h3>
		
		<p>
			Its easy to use, you just have to call one function <code>toggle_sidebar_menu(animate)</code>.
		</p>
		
		<a href="javascript: toggle_sidebar_menu(false);" class="btn btn-default">Toggle Sidebar</a>
		
		<a href="javascript: show_sidebar_menu(false);" class="btn btn-default">Force Show Sidebar</a>
		
		<a href="javascript: hide_sidebar_menu(false);" class="btn btn-default">Force Hide Sidebar</a>
		
		<br />
		<br />
		
		<h4>With Animation</h4>
		
		<p>You may apply animation to these functions by sending <code>animate</code> parameter as <strong>true</strong>, see it in action:</p>
		
		
		<a href="javascript: toggle_sidebar_menu(true);" class="btn btn-default">Toggle Sidebar w/ Animation</a>
		
		<a href="javascript: show_sidebar_menu(true);" class="btn btn-default">Force Show Sidebar</a>
		
		<a href="javascript: hide_sidebar_menu(true);" class="btn btn-default">Force Hide Sidebar</a>
		
		<br />
		<br />
		
		<h4>Incorporating Chat API</h4>
		
		<p>This functions can be used only when you have included Chat on your theme.</p>
		
		<a href="#" class="btn btn-default" data-toggle="chat" data-collapse-sidebar="1">Toggle Chat + Sidebar</a>
		<a href="#" class="btn btn-default" data-toggle="chat" data-collapse-sidebar="1" data-animate="1">Toggle Chat + Sidebar w/ Animation</a>
		
		<br />
		<br />
		For more options about <strong>Chat API</strong> and see how to implement it <a href="../../../neon-x/extra/chat-api/index.html">click here</a> to read more.
	</div>
	
	<div class="col-md-6">
		
		<h3>See how its implemented</h3>
		
		<strong>Code for Toggle Sidebar</strong>
		<pre>toggle_sidebar_menu(false);</pre>
		
		<br />
		
		<strong>Code for Force Show Sidebar</strong>
		<pre>show_sidebar_menu(false);</pre>
		
		<br />
		
		<strong>Code for Force Hide Sidebar</strong>
		<pre>hide_sidebar_menu(false);</pre>
		
		<br />
		
		<strong>Code for Toggle Sidebar w/ Animation</strong>
		<pre>toggle_sidebar_menu(true);</pre>
		
		<br />
		
		<strong>Code for Force Show Sidebar (animation)</strong>
		<pre>show_sidebar_menu(true);</pre>
		
		<br />
		
		<strong>Code for Force Hide Sidebar (animation)</strong>
		<pre>hide_sidebar_menu(true);</pre>
		
		<br />
	
	</div>
	
</div>
<br />



<div class="row">
	<div class="col-md-6">
		<h3 id="markup">Markup</h3>
		
		<p>Layout Markup is applied for one reason: <strong>To enable the sidebar collapsing/expanding</strong>. The symbol <i class="entypo-menu"></i> next to the logo applies this markup:</p>
		
		<pre>&lt;!-- logo collapse icon --&gt;
&lt;div class=&quot;sidebar-collapse&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;sidebar-collapse-icon with-animation&quot;&gt;&lt;!-- add class &quot;with-animation&quot; if you want sidebar to have animation during expanding/collapsing transition --&gt;
		&lt;i class=&quot;entypo-menu&quot;&gt;&lt;/i&gt;
	&lt;/a&gt;
&lt;/div&gt;</pre>

		
		<p>If you remove this markup, users will not be able to handle the sidebar visibility, its up to you to decide whether to insert or remove this feature.</p>
		
	</div>
	
	<div class="col-md-6">
		<h3>Layout Variants</h3>
		
		<ul>
			<li>
				<a href="../../../neon-x/layouts/collapsed-sidebar/index.html" target="_blank"><strong>Collapsed Sidebar</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/chat-open/index.html" target="_blank"><strong>Collapsed Sidebar &amp; Chat Opened</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/sidebar-chat-open/index.html" target="_blank"><strong>Expanded Sidebar &amp; Chat Opened</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/sidebar-static/index.html" target="_blank"><strong>Expanded Sidebar without Collapse Feature</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/layout-horizontal-menu-chat/index.html" target="_blank"><strong>Horizontal Menu &amp; Chat Opened</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/sidebar-static/index.html" target="_blank"><strong>Fixed Sidebar</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/mixed-menus/index.html" target="_blank"><strong>Both Menus</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/mixed-menus-logo-fit/index.html" target="_blank"><strong>Both Menus &amp; Logo Width Fit with Sidebar</strong></a>
			</li>
			<li>
				<a href="../../../neon-x/layouts/mixed-menus-collapsed/index.html" target="_blank"><strong>Both Menus &amp; Collapsed Sidebar</strong></a>
			</li>
		</ul>
		
	</div>
</div>




<br />




<div class="row">
	<div class="col-md-12">
		<h3 id="api">API Functions</h3>
		
		
		<!-- API Functions -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Function Name</th>
					<th>Description and Usage Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>show_sidebar_menu(animate)</h4>
					</td>
					<td class="middle-align">
						Shows left sidebar (if not already shown) and if you have specified the parameter <code>animate</code> as <code>true</code> will apply smooth animation on transition.
					</td>
				</tr>
				
				
				<tr>
					<td>
						<h4>hide_sidebar_menu(animate)</h4>
					</td>
					<td class="middle-align">
						Hide left sidebar (if not already hidden) and if you have specified the parameter <code>animate</code> as <code>true</code> will apply smooth animation on transition.
					</td>
				</tr>
				
				
				<tr>
					<td>
						<h4>toggle_sidebar_menu(animate)</h4>
					</td>
					<td class="middle-align">
						Will use the two above functions, but firstly it will decide on their current state. The <code>animated</code> parameter will simply be passed to the respective functions.
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div><!-- Footer -->
<footer class="main">
	
		<div class="pull-right">
		<a href="http://themeforest.net/item/neon-bootstrap-admin-theme/6434477" target="_blank"><strong>Purchase this theme for $21</strong></a>
	</div>
		
	&copy; 2013 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co/" target="_blank">Laborator</a>
	
</footer>	</div>
	
	
<div id="chat" class="fixed" data-current-user="Art Ramadani" data-order-by-status="1" data-max-chat-history="25">
	
	<div class="chat-inner">
	
		
		<h2 class="chat-header">
			<a href="#" class="chat-close" data-animate="1"><i class="entypo-cancel"></i></a>
			
			<i class="entypo-users"></i>
			Chat
			<span class="badge badge-success is-hidden">0</span>
		</h2>
		
		
		<div class="chat-group" id="group-1">
			<strong>Favorites</strong>
			
			<a href="#" id="sample-user-123" data-conversation-history="#sample_history"><span class="user-status is-online"></span> <em>Catherine J. Watkins</em></a>
			<a href="#"><span class="user-status is-online"></span> <em>Nicholas R. Walker</em></a>
			<a href="#"><span class="user-status is-busy"></span> <em>Susan J. Best</em></a>
			<a href="#"><span class="user-status is-offline"></span> <em>Brandon S. Young</em></a>
			<a href="#"><span class="user-status is-idle"></span> <em>Fernando G. Olson</em></a>
		</div>
		
		
		<div class="chat-group" id="group-2">
			<strong>Work</strong>
			
			<a href="#"><span class="user-status is-offline"></span> <em>Robert J. Garcia</em></a>
			<a href="#" data-conversation-history="#sample_history_2"><span class="user-status is-offline"></span> <em>Daniel A. Pena</em></a>
			<a href="#"><span class="user-status is-busy"></span> <em>Rodrigo E. Lozano</em></a>
		</div>
		
		
		<div class="chat-group" id="group-3">
			<strong>Social</strong>
			
			<a href="#"><span class="user-status is-busy"></span> <em>Velma G. Pearson</em></a>
			<a href="#"><span class="user-status is-offline"></span> <em>Margaret R. Dedmon</em></a>
			<a href="#"><span class="user-status is-online"></span> <em>Kathleen M. Canales</em></a>
			<a href="#"><span class="user-status is-offline"></span> <em>Tracy J. Rodriguez</em></a>
		</div>
	
	</div>
	
	<!-- conversation template -->
	<div class="chat-conversation">
		
		<div class="conversation-header">
			<a href="#" class="conversation-close"><i class="entypo-cancel"></i></a>
			
			<span class="user-status"></span>
			<span class="display-name"></span> 
			<small></small>
		</div>
		
		<ul class="conversation-body">	
		</ul>
		
		<div class="chat-textarea">
			<textarea class="form-control autogrow" placeholder="Type your message"></textarea>
		</div>
		
	</div>
	
</div>


<!-- Chat Histories -->
<ul class="chat-history" id="sample_history">
	<li>
		<span class="user">Art Ramadani</span>
		<p>Are you here?</p>
		<span class="time">09:00</span>
	</li>
	
	<li class="opponent">
		<span class="user">Catherine J. Watkins</span>
		<p>This message is pre-queued.</p>
		<span class="time">09:25</span>
	</li>
	
	<li class="opponent">
		<span class="user">Catherine J. Watkins</span>
		<p>Whohoo!</p>
		<span class="time">09:26</span>
	</li>
	
	<li class="opponent unread">
		<span class="user">Catherine J. Watkins</span>
		<p>Do you like it?</p>
		<span class="time">09:27</span>
	</li>
</ul>




<!-- Chat Histories -->
<ul class="chat-history" id="sample_history_2">
	<li class="opponent unread">
		<span class="user">Daniel A. Pena</span>
		<p>I am going out.</p>
		<span class="time">08:21</span>
	</li>
	
	<li class="opponent unread">
		<span class="user">Daniel A. Pena</span>
		<p>Call me when you see this message.</p>
		<span class="time">08:27</span>
	</li>
</ul></div>




	<script src="../../../neon-x/assets/js/gsap/main-gsap.js" id="script-resource-1"></script>
	<script src="../../../neon-x/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
	<script src="../../../neon-x/assets/js/bootstrap.min.js" id="script-resource-3"></script>
	<script src="../../../neon-x/assets/js/joinable.js" id="script-resource-4"></script>
	<script src="../../../neon-x/assets/js/resizeable.js" id="script-resource-5"></script>
	<script src="../../../neon-x/assets/js/neon-api.js" id="script-resource-6"></script>
	<script src="../../../neon-x/assets/js/neon-chat.js" id="script-resource-7"></script>
	<script src="../../../neon-x/assets/js/neon-custom.js" id="script-resource-8"></script>
	<script src="../../../neon-x/assets/js/neon-demo.js" id="script-resource-9"></script>
	<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-28991003-3']);
		_gaq.push(['_setDomainName', 'laborator.co']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
	</script>
	
</body>
</html>